@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;0,900;1,800;1,900&display=swap");

/* Reset */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #03506F;
}

body{
    background-color: #EBEBEB;

}

.nav-logo{
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    
}

nav{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;

}

nav ul{
    display: flex;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: #03506F;
    color: #EBEBEB;
}
/* index*/

.home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 50px;
    margin: 50px;
    margin-left: 50px;
}

.welcome-home p {
    font-size: 12px;
}

/* home*/

.homepage .welcome-homepage{
    text-align: center;
    padding: 10px 50px;
    margin: 30px;
    margin-left: 50px;
}

.welcome-homepage p {
    font-size: 12px;
    margin-top: 20px;
}


.button-home {
    font-weight: 600;
    font-size: 12px;
}

.button-home li{
    
    margin-top: 20px;
}


li .button1{
    padding: 5px 30px;
    background-color: #03506F;
    color: #EBEBEB;
    border-radius: 5px;

}

li .button2{
    padding: 5px 20px;
    border: 1px;
    color: #03506F;
    background-color: #EBEBEB;

}

.menu-homepage ul{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.menu-homepage ul li a{
    border-radius: 5px;
    background-color: #03506F;
    color: #EBEBEB;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    margin: 30px;
    padding: 80px 50px;
}

footer{
    /*
            Property utama agar Footer tetap berada dibawah.
            */
            position: relative;
            bottom: 0;
            width: 100%;

            /*
                Property tambahan agar text di dalam Footer berada di tengah.
            */
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #03506F;
            margin-top: 60px;
}

footer img{
    margin-right: -10px;
    margin-top: 10px;
}
footer p{
    margin: 10px;
    color: #EBEBEB;
    font-size: 10px;
}

.card-view{
    border: 1px solid #03506F;
    width: 195px; 
    height: 160px;
    background-color: #03506F;
    border-radius: 5px;
    color: #EBEBEB;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(29, 28, 28, 0.418);
    border: 1px grey;
}

.card-view img{
    height:110px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}

.card-view a{
    color: #EBEBEB;
    font-size: 12px;
    font-weight: 600;
    
}
.card-menu{
    margin-top: -10px;
}
.card-menu ul {
    display: flex;
    justify-content: center;
}

.card-menu ul li{
    margin: 30px;
}
/** portofolio **/
.card-view-porto{
    border: 1px solid #03506F;
    width: 300px; 
    height: 120px;
    background-color: #03506F;
    border-radius: 5px;
    color: #EBEBEB;
    box-shadow: 2px 2px 2px rgba(29, 28, 28, 0.418);
    border: 1px grey;
    display: flex;
    align-items: center;
}

.card-view-porto img{
    height:120px;
    width: 130px;
    border-radius: 5px 0px 0 5px;
}

.card-view-porto a {
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
}

.card-view-porto p{
    margin: 10px;
    color: #EBEBEB;
    font-size: 8px;
}


.card-menu-porto ul {
    display: flex;
    justify-content: center;
}

.card-menu-porto ul li{
    margin: 20px;
}

/**** blog *****/
.blog-nav{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;

}

.blog-img{
    position: relative;
	z-index: 1;
	top: 0px;
    
}

.blog-nav ul{
    display: flex;
    position: absolute;
	top: 20px;
	z-index: 2;
}

.blog-nav ul li{
    margin: 0 10px;
}

.blog-nav ul li a{
    padding: 5px 10px;
    border-radius: 5px;
}

.blog-nav ul li a:hover{
    background-color: #03506F;
    color: #EBEBEB;
}

.blog-homepage .welcome-homepage{
    text-align: center;
    padding: 10px 50px;
    margin: 50px;
    margin-left: 230px;
    position: absolute;
	top: 40px;
	z-index: 2;
}

.welcome-homepage p {
    font-size: 12px;
    margin-top: 20px;
}

.card-view-blog{
    border: 1px solid #03506F;
    width: 400px; 
    height: 120px;
    background-color: #03506F;
    border-radius: 5px;
    color: #EBEBEB;
    box-shadow: 2px 2px 2px rgba(29, 28, 28, 0.418);
    border: 1px grey;
    display: flex;
    align-items: center;
}

.card-view-blog img{
    height:120px;
    width: 130px;
    border-radius: 5px 0px 0 5px;
}

.card-view-blog a {
    color: #EBEBEB;
    font-size: 16px;
    font-weight: 600;
}

.card-view-blog p{
    color: #EBEBEB;
    font-size: 8px;
    margin-top: 10px;
}


.card-menu-blog ul {
    display: flex;
    justify-content: center;
}

.card-menu-blog ul li{
    margin: 20px;
}

.desc{
    margin: 10px ;
}

/* profile*/
.name-profile{
    font-size: 12px;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.desc-profile{
    font-size: 12px;
    margin: 30px 50px 50px 50px;
    text-align: justify;
    text-indent: 0.5in;
}

